@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #3b82f6; /* Track color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover state */
  }
  
  /* Smooth scrolling */
  .custom-scrollbar {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #68a0fa #8ab4f8; /* Firefox scrollbar colors */
    scroll-behavior: smooth;
  }
  